.form1 {
    width: 400px;
}

label {
    margin: 5px 0;
}
.lo{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    z-index: 1;
}
.bgimg {
    
    height: 450px;
    width: 550px;
}

.form {
    width: 400px
}

.colheight {
    height: 90vh;
}

.err {
    color: red;
    font-size: 12px;
    margin-left: 5px;
}

@media screen and (max-width: 480px) {
    .bgimg {
        margin: 10px 0;
        height: 350px;
        width: 350px;
    }

    .form {
        width: 300px;
        margin-top: 25px;
    }

    .colheight {
        height: auto;
    }
}

@media screen and (min-width: 480px) and (max-width :1000px) {
    .colheight {
        height: 500px ;
    }
    .form{
        margin-top: 40px;
    }
}